*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html{
    color:white;
}
body{
    margin:0;
    background-color: rgba(14, 13, 13, 0.973);
}
a{  
    color: gainsboro;
    text-decoration:none;
}
/*Navigation tab styling*/
.portfolio-nav{
    position: fixed;
    top: 0;
    padding:1%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:1000;
}
.nav-item{
    transition: all 0.5s ease-in-out;
}
.name-tag{
   margin: 0;
   margin-left: 2%;
   margin-top:5px;
}
.tab-items{
    font-weight: 400;
    font-size: 1.2em;
    margin: auto auto;
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}
.item, .colored-navbar-item{
    padding-bottom: 10px;
}

/*Homepage styling*/
.homepage-link{
    display: none;
    width: 50%;
}
.homepage{
    height:100vh;
    background-image: url("https://i.imgur.com/SH6P7qf.jpg");
}
.main-homepage-content{
    width:80%;
    height:100%;
    margin:auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.title{
    color:white;
    font-size: 2em;
    width:80%;
    text-align: center;
}
.job-title{
    color:rgb(211, 63, 18);
}

.hidden{
    display: none;
}
.visible{
    display: inline;
}
.homepage_photo{
    width:50%;
}

/* Contact Menu styling */
.contact-menu{
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    top: 30vh;
}
.contact-option{
    background-color: #5cdb95;
    height: 45px;
    width:45px;
    margin: 10%;
    border-radius: 50%;
}
.contact-option:hover{
    transform:rotate(1turn);
    transition: transform 0.7s ease-in-out;
}
.contact-menu:hover{
    cursor: pointer;
}
.icon{
    margin: 24%;
}
.mobile-menu{
    display: none;
}


/* Sections */
.sections{
    padding-top: 5%;
}

/*About section styling*/
.about-info{
    color:white;
    background-color: rgba(27, 25, 25, 0.973);
    line-height:1.5rem;
}
.about-me,.skills-title,.projects-title,.blogs-title{
    color:rgb(211, 63, 18);
    text-decoration: underline;
    text-align: left;
}

/*Skill list */
.skills-section,.projects-section,.blogs-section,.about-info{
 width:80%;
 margin:auto;
}
.about-info,.skills-section{
    padding:5%;
}
.skills-list{
    display:grid;
    gap:2em;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
}
.skill-name{
    display:flex;
    flex-direction: column-reverse;
    text-align:center;
    margin: 3%;
}
.skill-list-images{
    width:50px;
    height:50px;
}

/*Blogs styling*/
.blog-name{
    margin:0;
}
.blog-and-btn{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.blog{
    display:flex;
    background-color: rgba(27, 25, 25, 0.973);
    padding:14px;
    margin-bottom:20px;
}
.blog .blog-name{
    color:white;
}
.blog-content{
    padding: 15px;
    width:100%;
}
.blog-desc{
    margin-top:5px;
    line-height: 1.3em;
}
.author-img{
    max-width: 30px;
    max-height:30px;
    border-radius: 50%;
}
.blog-name{
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
}
.blog-img{
    width:150px;
    height:148.99px;
}
.blog-btn{
    float:right;
}
.blog-img,.blog-name{
    cursor:pointer;
}
.extra-info{
    display:flex;
    flex-wrap: wrap;
    margin-top:5px;
}
.author{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right:10px;
}
.author-name{
    line-height: 1em;
    margin-left:10px;
}
.blog-date{
    margin:0 5px;
    display:flex;
    align-items: center;
}

/*Project section */
.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:20px;
    padding:2%;
    background-color: rgba(27, 25, 25, 0.973);
    border-radius:2%;
}
.project-image{
    width: 150px;
    height:150px;
}
.project-btn-grp{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects-and-btn{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.project-btn{
    width: 100px;
    height:30px;
    background-color: #5cdb95;
    color: black;
    font-weight: bold;
    border: 1px solid #5cdb95;;
}
.view-all{
    margin:20px auto;
}
.project-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Credits section */
.credits{
    padding:1%;
    background-color: black;
    color: white;
    text-align: center;
}
.credits a,.credits a:visited{
    color: white;
}
.credits a:hover{
    color:tomato;
}

/*Links hovered and visited styling */
.item:hover,.medium-link:hover,.colored-navbar-item:hover{
    border-bottom: 5px solid rgb(211, 63, 18) 
}
.item:visited,.medium-link:visited,.colored-navbar-item:visited{
    color:gainsboro;
}

/* Custom scrollbar */
/* Width of scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
/* Track  */
::-webkit-scrollbar-track{
    background-color: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb{
    background-color: #888;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(27, 25, 25, 0.973);
}

/*Mobile menu */
.mobile-menu-container{
    position: fixed;
    top: 40px;
    width:100%;
    text-align:center;
    background: black;
    opacity:0.9;
    height:calc(100% - 40px);
    z-index:1000;
}
.mobile-menu-list{
    height:100%;
    list-style: none;
    font-size:25px;
    line-height: 2em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.mobile-menu-list a{
    color: white;
}
.mobile-list-item{
    width:80%;
    cursor: pointer;
}
.mobile-list-item:active{
    transform:scale(1.1);
    color:white;
}

/* Responsive styling */
@media screen and (max-width: 550px){
    .homepage_photo{
        width: 300px;
        height:300px;
    }
    .tab-items{
        display: none;
    }
    .portfolio-nav{
        justify-content: flex-end;
    }
    .main-homepage-content{
        flex-direction: column;
    }
    .title,.job-title{
        font-size: 1em;
    }
    .mobile-menu{
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: center;
    }
    .blog{
        flex-direction: column;
        align-items: center;
    }
    .blogs-section{
        width:90%;
    }
}
@media screen and (max-width: 350px) {
    .extra-info{
        font-size:14px;
    }
    .blog-desc{
        font-size:14px;
    }
}
@media screen and (max-width: 300px){
    body,.blog-content{
        padding: 0;
    }
    .blog-content{
        padding-top:15px;
    }
    .homepage_photo{
        width: 260px;
        height: 260px;
    }
    .homepage-link{
        width: 75%;
    }
    .project{
        margin:auto;
        margin-bottom: 20px;
    }
    .project-btn-grp{
        justify-content: center;
    }
    .project-btn{
        margin:5px;
    }
}


#section-1 section{
    display:flex;
    align-items: center;
}
#section-1 img{
    margin-right:20px;
}
#section-1 p{
    font-size:14px;
}
.skill-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:640px){
    .skills-list{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
}